<header data-s-header class="corp-header fixed sd">
    <a data-s-logo-link href="https://corp.itandi.co.jp/recruits" class="link sd">
        <img data-s-logo-img class="sd" alt="ITANDI" src="{{ '/assets/images/itandi-logo.svg' | relative_url }}">
        <p data-s-logo-text class="text sd">採用情報</p>
    </a>
    <button data-s-mobile-toggle type="button" class="corp-header__mobile-toggle icon sd" aria-label="メニューを開く">
        <span class="material-icons">menu</span>
    </button>
    <ul data-s-nav class="corp-header__nav sd">
        <li data-s-nav-about class="sd">
            <a data-s-link-about href="https://corp.itandi.co.jp/recruits/about" class="text link sd">理念を知る</a>
            <div data-s-line-about class="sd"></div>
        </li>
        <li data-s-nav-service class="sd">
            <a data-s-link-service href="https://corp.itandi.co.jp/recruits/service" class="text link sd">事業を知る</a>
            <div data-s-line-service class="sd"></div>
        </li>
        <li data-s-nav-member class="sd">
            <button data-s-btn-member type="button" class="link sd">
                <p data-s-text-member class="text sd">メンバーを知る</p>
                <i data-s-arrow-member class="icon material-symbols material-symbols-outlined material-symbols-weight-400 sd">keyboard_arrow_down</i>
            </button>
            <div data-s-line-member class="sd"></div>
        </li>
        <li data-s-nav-infograph class="sd">
            <a data-s-link-infograph href="https://corp.itandi.co.jp/recruits/infographics" class="text link sd">数字で見る</a>
            <div data-s-line-infograph class="sd"></div>
        </li>
        <li data-s-nav-contents class="sd">
            <a data-s-link-contents href="https://corp.itandi.co.jp/recruits#contents" class="text link sd">公式コンテンツ</a>
            <div data-s-line-contents class="sd"></div>
        </li>
        <li data-s-nav-env class="sd">
            <a data-s-link-env href="https://corp.itandi.co.jp/recruits#enviponment" class="text link sd">環境を知る</a>
            <div data-s-line-env class="sd"></div>
        </li>
        <li data-s-nav-entry class="sd">
            <a data-s-link-entry href="/entry" class="link sd">
                <p data-s-text-entry class="text sd">募集要項</p>
            </a>
            <button data-s-menu-btn type="button" class="corp-header__menu-btn link sd">
                <div data-s-menu-lines class="sd">
                    <div data-s-menu-line1 class="sd"></div>
                    <div data-s-menu-line2 class="sd"></div>
                </div>
                <p data-s-menu-text class="text sd">MENU</p>
            </button>
        </li>
    </ul>
</header>