<header data-s-header class="corp-header fixed sd">
    <a data-s-logo-link href="https://corp.itandi.co.jp/recruits" class="link sd">
        <img data-s-logo-img class="sd" alt="ITANDI" src="{{ '/assets/images/itandi-logo.svg' | relative_url }}">
        <p data-s-logo-text class="text sd">採用情報</p>
    </a>
    <button data-s-mobile-toggle type="button" class="corp-header__mobile-toggle icon sd" aria-label="メニューを開く">
        <span class="material-icons">menu</span>
    </button>
    <ul data-s-nav class="corp-header__nav sd">
        <li data-s-nav-entry class="sd">
            <a data-s-link-entry href="https://herp.careers/careers/companies/itandi/jobs?parent-job-role-ids=engineer" class="link sd">
                <p data-s-text-entry class="text sd">募集要項</p>
            </a>
        </li>
    </ul>
    <button data-s-menu-btn type="button" class="corp-header__menu-btn link sd">
        <div data-s-menu-lines class="sd">
            <div data-s-menu-line1 class="sd"></div>
            <div data-s-menu-line2 class="sd"></div>
        </div>
        <p data-s-menu-text class="text sd">MENU</p>
    </button>
</header>