<header class="header">
    <div class="container">
        <nav class="nav">
            <div class="logo">ITANDI ENGINEER</div>
            <ul class="nav-links">
                <li><a href="#mission">Mission</a></li>
                <li><a href="#product">Product</a></li>
                <li><a href="#technology">Technology</a></li>
                <li><a href="#organization">Organization</a></li>
                <li><a href="#conditions">Conditions</a></li>
                <li><a href="https://herp.careers/careers/companies/itandi/jobs?parent-job-role-ids=engineer"
                        class="btn btn--small btn--primary">Apply Now</a></li>
            </ul>
        </nav>
    </div>
</header>