<div class="notion-section">
    <hr class="notion-divider">
    <h2 id="blog">イタンジをもっと知る</h2>

    <div class="blog-cards-container">
        {% for blog in site.data.blogs %}
        <a href="{{ blog.url }}" target="_blank" class="blog-card">
            <div class="blog-card-image">
                <img src="{{ blog.image | relative_url }}" alt="{{ blog.alt }}">
            </div>
            <div class="blog-card-content">
                <h3 class="blog-card-title">{{ blog.title }}</h3>
                <p class="blog-card-description">{{ blog.description }}</p>
                <p class="blog-card-url">{{ blog.display_url }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>