<section id="mission" class="section reveal">
    <div class="container">
        <h2 class="section-title">Mission & Vision</h2>
        <div class="grid">
            <div class="content">
                <h3>{{ site.data.mission.main_title }}</h3>
                <p>{{ site.data.mission.lead }}</p>
                <p>{{ site.data.mission.sub_lead }}</p>
            </div>
            <div class="hexagon-container">
                {% for hex in site.data.mission.hexagons %}
                <div class="hexagon">
                    <span class="label-en">{{ hex.en }}</span>
                    <span class="label-jp">{{ hex.jp }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>