<div class="notion-section">
    <hr class="notion-divider">
    <h2 id="mission">MVVP</h2>
    <br>

    <div class="product-slide-container">
        <div class="responsive-embed">
            <iframe
                src="https://docs.google.com/presentation/d/e/2PACX-1vS8ykP6lsu7ZqZ2rtfke-9DDa9i5VLcy1LKPWEYY3g1RUhqksKFoKokTASG_33DadAItEbCh2i6btwL/pubembed?start=false&loop=false&delayms=3000&slide=id.g369b2b81011_0_10"
                frameborder="0" width="100%" height="500px" allowfullscreen="true" mozallowfullscreen="true"
                webkitallowfullscreen="true"></iframe>
        </div>
    </div>
</div>