<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
</head>

<body>
    {% if page.cover %}
    <div class="notion-cover-container">
        <img src="{{ page.cover | relative_url }}" class="notion-cover-image" alt="Cover Image">
    </div>
    {% endif %}

    <div class="page-container">
        <main>
            {{ content }}
        </main>

        <footer class="notion-footer">
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
        </footer>
    </div>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>