<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
</head>

<body>
    <div class="background-wrapper">
        <div class="background-slide"
            style="background-image: url('https://storage.googleapis.com/studio-design-asset-files/projects/v7qGl92JaL/s-1454x1966_v-frms_webp_19d9ca30-f61e-4781-a4e7-b05805080937_regular.webp');">
        </div>
        <div class="background-slide"
            style="background-image: url('https://storage.googleapis.com/studio-design-asset-files/projects/v7qGl92JaL/s-1308x1412_v-fms_webp_38327d18-c9f1-441b-aeba-7b5ddba2c3b5_middle.webp');">
        </div>
        <div class="background-slide"
            style="background-image: url('https://storage.googleapis.com/studio-design-asset-files/projects/v7qGl92JaL/s-2324x1492_v-frms_webp_f72e9e0a-f6c4-47ea-bb30-93dbd3f92e46_regular.webp');">
        </div>
    </div>

    {% if page.cover %}
    <div class="notion-cover-container">
        <img src="{{ page.cover | relative_url }}" class="notion-cover-image" alt="Cover Image">
    </div>
    {% endif %}

    <div class="page-container">
        <main>
            {{ content }}
        </main>

        <footer class="notion-footer">
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
        </footer>
    </div>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>